.cache/
.vscode/
CMakeCache.txt
CMakeFiles/
CTestConfiguration.ini
CTestCustom.cmake
CTestTestfile.cmake
Makefile
atomic_configure/
catkin/
catkin_generated/
cmake_install.cmake
compile_commands.json
devel/
gtest/
insitu/.vscode/
insitu/CMakeFiles/
insitu/CTestTestfile.cmake
insitu/Makefile
insitu/catkin_generated/
insitu/cmake_install.cmake
insitu/res/images.qrc.depends
insitu_plugins/CMakeFiles/
insitu_plugins/CTestTestfile.cmake
insitu_plugins/Makefile
insitu_plugins/catkin_generated/
insitu_plugins/class_loader_hide_library_symbols__insitu_plugins.script
insitu_plugins/cmake_install.cmake
insitu_plugins/inc/Crosshair/moc_Crosshair.cpp_parameters
insitu_plugins/inc/Crosshair/moc_Crosshair_dialog.cpp_parameters
insitu_plugins/inc/Label/moc_Label.cpp_parameters
insitu_plugins/inc/Label/moc_Label_dialog.cpp_parameters
insitu_plugins/inc/Transparent/moc_Transparent.cpp_parameters
insitu_plugins/inc/Transparent/moc_Transparent_dialog.cpp_parameters

